*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: rgb(0, 0, 238);
}

a:hover,
a.current-page {
  color: rgb(85, 26, 139);
}

a:active {
  color: rgb(238, 0, 0);
}

a {
  text-underline-offset: 0.175em;
}

a:hover {
  text-underline-offset: 0.1em;
  text-decoration-style: dotted;
  transition: text-underline-offset 0.05s ease-in;
}

.article-content p + p {
  margin-top: 0.875em;
}

.article-content p {
  font-size: clamp(1rem, 1rem + 4vw, 3rem);
}

@media screen and (min-width: 512px) {
  .article-content p {
    font-size: 3rem;
  }
}

.article-content h1 {
  font-weight: 400;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
