*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: rgb(0, 0, 238);
}

a:hover,
a.current-page {
  color: rgb(85, 26, 139);
}

a:active {
  color: rgb(238, 0, 0);
}

.article-content p + p {
  margin-top: 0.875em;
}

.article-content p {
  line-height: 1.5em;
}

.article-content h1 {
  font-weight: 400;
  font-size: 2.75rem;
  margin-bottom: 2.75rem;
}
