---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout
  title="Tentang Dika pembuat web site ini - sakitkepala.dev"
  description="Tentang Dika pembuat web site ini"
>
  <div class="content-layout">
    <main class="content">
      <h1>Tentang Saya</h1>

      <p>
        Saya Dika, front-end developer. Ini saya mau perkenalkan diri di sini. Supaya yang
        berkunjung ke web site saya ini kenal sedikit siapa saya.
      </p>

      <p>Tapi saya belum ada copywriting menarik buat itu nih. Tunggu bentar saya pikirkan dulu.</p>

      <p>...</p>
    </main>
  </div>
</PrimaryLayout>

<style>
  .content-layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--content-container-width)) minmax(0, 1fr);
    margin-top: 20rem;
    margin-bottom: 10rem;
  }

  .content-layout > *:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
    max-width: 600px;
  }

  .content > p + p {
    margin-top: 0.675em;
  }

  .content > h1 {
    font-weight: 400;
    font-size: 2.75rem;
    margin-bottom: 2.75rem;
  }
</style>
