---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import NavLinks from "../components/NavLinks.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<PrimaryLayout
  title="Selamat datang di web site milik Dika - sakitkepala.dev"
  description="Halaman beranda sakitkepala.dev, web site personal milik Andika Priyotama"
>
  <div class="content-layout">
    <main class="content">
      <p>
        Hai. Web site ini baru <i>under construction</i> nih. Desainnya memang belum ada, tapi kontennya
        sudah, sih. Lihat-lihat dulu boleh. Silakan baca sedikit <a href="/dika">tentang saya</a> atau
        lihat beberapa <a href="/karya">karya/projek</a> buatan saya.
      </p>
    </main>
  </div>
</PrimaryLayout>

<style>
  .content-layout {
    min-height: 80vh;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--content-container-width)) minmax(0, 1fr);
  }

  .content-layout > *:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }

  .content {
    font-size: clamp(1rem, 1rem + 4vw, 48px);
  }

  @media screen and (min-width: 768px) {
    .content {
      margin-inline: 0;
    }
  }
</style>
