---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import IconCircle from "../components/IconCircle.astro";
---

<PrimaryLayout
  title="Karya-karya buatan Dika - sakitkepala.dev"
  description="Karya-karya buatan Dika"
>
  <div class="content-layout">
    <div class="article-content">
      <h1>Karya</h1>
      <p>Projek-projek yang saya kerjakan. Ini beberapa&ast; yang saya suka.</p>

      <p>
        <span>
          &ast;langsung cek <a href="https://github.com/sakitkepala">profil Github saya</a> juga bisa
        </span>
      </p>

      <div class="arrow-down">&darr;</div>
    </div>
  </div>

  <div class="work-item-list">
    <div class="work-item">
      <div class="thumbnails">
        <div class="thumbnail">
          <img class="image" src="/karya-myarchery.png" alt="Screenshot karya projek My Archery" />
        </div>

        <div class="thumbnail">
          <div class="embed">
            <iframe
              src="https://drive.google.com/file/d/12fxOhII1CCHY2dfOmNInDC7ctj3ePPC6/preview"
              loading="lazy"
              width="1280"
              height="720"
              allow="autoplay"></iframe>
          </div>
        </div>

        <div class="thumbnail">
          <img
            class="image"
            src="/karya-myarchery-scoring.png"
            alt="Screenshot karya projek My Archery"
          />
        </div>

        <div class="thumbnail">
          <img
            class="image"
            src="/karya-myarchery-bracket.png"
            alt="Screenshot karya projek My Archery"
          />
        </div>

        <div class="thumbnail">
          <div class="embed">
            <iframe
              src="https://drive.google.com/file/d/1rArsYoZhrO1OoAUeFCXYpGSdsfHoNlGM/preview"
              loading="lazy"
              width="1280"
              height="720"
              allow="autoplay"></iframe>
          </div>
        </div>
      </div>

      <div class="copywritings">
        <h2 class="title">My Archery</h2>
        <div class="actions">
          <span class="source-unavailable" title="Kode sumber confidental khusus untuk internal"
            >sumber</span
          ><span><IconCircle /></span><a
            href="https://myarchery.id"
            target="_blank"
            rel="noopener noreferrer">kunjungi</a
          >
        </div>
        <div class="description">
          <p>
            Platform event-organizing untuk olahraga panahan. Memfasilitasi <em>Event organizer</em>
            dalam penyelenggaraan event kompetisi panahan yang mencakup serangkaian kegiatannya, sehingga
            dapat digunakan di lapangan secara <em>live</em>: mulai dari mempersiapkan sistem
            pertandingan hingga pelaksaan di venue dan pelaporan data pertandingan.
          </p>
        </div>
      </div>
    </div>

    <div class="work-item">
      <div class="thumbnails">
        <div class="thumbnail">
          <img class="image" src="/karya-iniresume.png" alt="Screenshot karya projek iniresume." />
        </div>

        <div class="thumbnail">
          <img
            class="image"
            src="/karya-iniresume-loading.png"
            alt="Screenshot karya projek iniresume."
          />
        </div>

        <div class="thumbnail">
          <img
            class="image"
            src="/karya-iniresume-editor-empty.png"
            alt="Screenshot karya projek iniresume."
          />
        </div>

        <div class="thumbnail">
          <img
            class="image"
            src="/karya-iniresume-avatar-resume.png"
            alt="Screenshot karya projek iniresume."
          />
        </div>
      </div>

      <div class="copywritings">
        <h2 class="title"><em>iniresume.</em> ✨</h2>
        <div class="actions">
          <a
            href="https://github.com/sakitkepala/iniresume"
            target="_blank"
            rel="noopener noreferrer">sumber</a
          ><span><IconCircle /></span><a
            href="https://iniresume.sakitkepala.dev"
            target="_blank"
            rel="noopener noreferrer">kunjungi</a
          >
        </div>
        <div class="description">
          <p>
            Web site <em>tool</em> simpel yang secara kegunaan lumayan membantu untuk buat dan generate
            resume selembar halaman dalam bentuk file PDF.
          </p>

          <p>
            Karena ini projek sampingan, dan saya juga mau coba-coba bikin sesuatu yang "fancy", UI
            "form" untuk input data resume saya buat supaya mirip editor markdown. Jadi bukan
            benar-benar markdown, tapi developer pasti bisa langsung mengenali maksudnya kalau
            dicoba 😁
          </p>
        </div>
      </div>
    </div>

    <div class="work-item">
      <div class="thumbnails">
        <div class="thumbnail">
          <img
            class="image"
            src="/karya-noteapp.png"
            alt="Screenshot karya projek Noteapp Zettelkasten"
          />
        </div>
      </div>

      <div class="copywritings">
        <h2 class="title">Note App yang Terinspirasi oleh Zettelkasten</h2>
        <div class="actions">
          <a
            href="https://github.com/sakitkepala/sakitkepalanoteapp"
            target="_blank"
            rel="noopener noreferrer">sumber</a
          ><span><IconCircle /></span><span
            class="source-unavailable"
            title="Belum ada aplikasi live yang bisa dikunjungi">kunjungi</span
          >
        </div>
        <div class="description">
          <p>
            <em>Proof of concept</em> untuk aplikasi penulisan catatan yang mencoba mengadopsi konsep
            <a href="https://en.wikipedia.org/wiki/Zettelkasten">Zettelkasten</a>. Sekaligus dibuat
            sebagai projek model untuk meriset beberapa teknologi sekaligus, seperti Nx Workspace,
            GraphQL API dan GraphQL client, Fastify, Vanilla Extract CSS, React Native, Framer
            Motion, dan lainnya.
          </p>

          <p>
            Aplikasinya belum ready, dan saya masih coba-coba <a
              href="https://www.figma.com/file/8oEI3Vv1k4Xn7xSb2wQ5Wm/Noteapp?t=ohtVEQxvia59gPzC-1"
              title="Desain figma si note app nih"
              target="_blank"
              rel="noopener noreferrer">eksplorasi konsep UI</a
            >-nya juga. Tapi <a
              href="https://github.com/sakitkepala/sakitkepalanoteapp"
              target="_blank"
              rel="noopener noreferrer">kode</a
            > di repositori bisa di-clone untuk jalan di localhost&mdash;barangkali penasaran.
          </p>
        </div>
      </div>
    </div>
  </div>
</PrimaryLayout>

<style>
  .content-layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--content-container-width)) minmax(0, 1fr);
    margin-top: 30vh;
  }

  .content-layout > *:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
    max-width: 600px;
  }

  .ps {
    font-size: 0.625em;
  }

  .arrow-down {
    margin-top: 0.5em;
    text-align: center;
    font-size: 4rem;
  }

  .work-item-list {
    margin-top: 16rem;
    margin-bottom: 20rem;

    display: flex;
    flex-direction: column;
    row-gap: 16rem;
  }

  .work-item-list .work-item {
    display: grid;
    row-gap: 3rem;
  }

  @media screen and (min-width: 768px) {
    .work-item-list .work-item {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  .work-item .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .work-item .copywritings {
    margin-inline: 2rem;
  }

  @media screen and (min-width: 768px) {
    .work-item .copywritings {
      margin-inline: 3rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .work-item .copywritings {
      margin-inline: 6rem;
    }
  }

  .work-item .title {
    font-size: 1.75rem;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 0.25rem;
  }

  .work-item .thumbnail {
    width: 100%;
    outline: 1px solid rgb(0, 0, 0, 0.05);
    line-height: 0;
    margin-inline: auto;
  }

  .work-item .image {
    max-width: 100%;
  }

  .thumbnail .embed {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(720 / 1280 * 100%);
  }

  .embed iframe {
    border: none;
    background-color: rgb(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .work-item .actions {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5em;
  }

  .actions .source-unavailable {
    text-decoration: line-through;
    font-style: italic;
  }

  .work-item .description {
    font-size: clamp(1rem, 1rem + 4vw, 2rem);
  }

  @media screen and (min-width: 768px) {
    .work-item .description {
      font-size: clamp(0.875rem, 3vw, 2rem);
    }
  }

  @media screen and (min-width: 1024px) {
    .work-item .description {
      font-size: 2rem;
    }
  }

  .description p + p {
    margin-top: 0.5em;
  }
</style>
