---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
---

<PrimaryLayout
  title="Tulisan-tulisan dari Dika - sakitkepala.dev"
  description="Tulisan-tulisan dari Dika"
>
  <div class="content-layout">
    <main class="article-content">
      <h1>Tulisan</h1>

      {/* TODO: hapus intro ini, cuma placeholder buat pas entri masih kosong */}
      <div class="post-list-intro">
        <p>
          Misal penasaran, saya sedang mempersiapkan beberapa tulisan blog untuk dipublikasikan di
          sini nanti. Sementara sekarang belum <em>available</em>.
        </p>

        <p>Tunggu yah.</p>
      </div>

      {/* TODO: implemen postingan blog ("tulisan") pake ini */}
      {
        /* <div class="post-list">
        <article class="post">
          <h2 class="title">Artikel GraphQL Client</h2>
        </article>

        <article class="post">
          <h2 class="title">
            Artikel Unit Testing, Artikel GraphQL, Artikel React, Digabung Jadi Satu. Panjang Deh
            Ya.
          </h2>
          <p class="excerpt">
            Excerpt copywriting. Rada panjang, jadi keliatan lebih nyata kalau nanti diterapin di
            teks yang beneran.
          </p>
        </article>

        <article class="post">
          <h2 class="title">Artikel Case Study My Archery</h2>
          <p class="excerpt">Excerpt copywriting.</p>
        </article>
      </div> */
      }
    </main>
  </div>
</PrimaryLayout>

<style>
  .content-layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--content-container-width)) minmax(0, 1fr);
    margin-top: 30vh;
    margin-bottom: 10rem;
  }

  .content-layout > *:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
    max-width: 600px;
  }

  .post-list-intro {
    margin-bottom: 2.75rem;
  }

  .post-list .post + .post {
    margin-top: 2rem;
  }

  .post .title {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.375em;
  }

  .post .excerpt {
    font-size: 1.125rem;
  }
</style>
