<footer class="footer">
  <div class="ast">&ast;&ast;&ast;</div>

  <div>
    <a
      href="https://github.com/sakitkepala/sakitkepaladotdev"
      target="_blank"
      rel="noopener noreferrer"
      title="Repositori sakitkepaladotdev di Github">Ini web site eksperimental</a
    >
  </div>
  <div>
    oleh <a href="/" class="current-page" title="Alamat web sakitkepala.dev">Andika Priyotama</a>
  </div>
  <div>
    &copy; {new Date().getFullYear()}
  </div>
</footer>

<style>
  .footer {
    margin: 1.625rem 2rem;
    margin-bottom: 8rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .ast {
    margin-top: 5rem;
    font-size: 5rem;
  }

  @media screen and (min-width: 768px) {
    .footer {
      margin: 1rem;
      margin-bottom: 8rem;
    }
  }
</style>
