<footer class="footer">
  <a href="/" class="current-page" title="Alamat web sakitkepala.dev">https://sakitkepala.dev</a>.
  Web site eksperimental oleh <a
    href="https://github.com/sakitkepala/sakitkepaladotdev"
    target="_blank"
    rel="noopener noreferrer"
    title="Repositori sakitkepaladotdev di Github">Andika Priyotama</a
  > &copy; {new Date().getFullYear()}
</footer>

<style>
  .footer {
    margin: 1.625rem 2rem;
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    .footer {
      margin: 1rem;
    }
  }
</style>
