---
const isHome = Astro.url.pathname === "/";

const checkCurrentPage = (path: string) => {
  const targetPath = import.meta.env.DEV ? path : `${path}/`;
  return Astro.url.pathname === targetPath;
};
---

<nav class="navigation-menu">
  {
    !isHome && (
      <>
        <a href="/" class="nav-link home" title="Kembali ke halaman depan">
          <svg
            stroke="currentColor"
            fill="none"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <>
              <line x1="19" y1="12" x2="5" y2="12" />
              <polyline points="12 19 5 12 12 5" />
            </>
          </svg>
          <span>depan</span>
        </a>
        <span class="separator">/</span>
      </>
    )
  }
  <a
    href="/dika"
    class:list={["nav-link", { "current-page": checkCurrentPage("/dika") }]}
    title="Ke halaman tentang Dika">dika</a
  >
  <span class="separator">/</span>
  <a
    href="/tulisan"
    class:list={["nav-link", { "current-page": checkCurrentPage("/tulisan") }]}
    title="Ke halaman tulisan blog">tulisan</a
  >
  <span class="separator">/</span>
  <a
    href="/karya"
    class:list={["nav-link", { "current-page": checkCurrentPage("/karya") }]}
    title="Ke halaman karya-karya projek">karya</a
  >
</nav>

<style>
  .navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 1.125rem;

    font-size: 3.5rem;
    text-align: center;
  }

  @media screen and (min-width: 425px) {
    .navigation-menu {
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: baseline;

      font-size: 1.625rem;
      text-align: right;
    }
  }

  @media screen and (min-width: 512px) {
    .navigation-menu {
      margin-block: 0.5rem;
    }
  }

  @media screen and (min-width: 768px) {
    .navigation-menu {
      margin-inline: 1rem;
    }
  }

  .nav-link.current-page {
    text-decoration: none;
    cursor: default;
  }

  .nav-link.current-page:hover {
    text-decoration: line-through;
    text-decoration-style: double;
  }

  .nav-link.home:hover svg {
    transform: translate(-0.35em, 0.15em);
    transition: transform 0.15s ease-out;
  }

  .nav-link svg {
    --icon-size: 0.875em;
    width: var(--icon-size);
    height: var(--icon-size);
    transform: translateY(0.15em);
  }

  .separator {
    display: none;
  }

  @media screen and (min-width: 425px) {
    .separator {
      display: inline;
    }
  }
</style>
