---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";

const { frontmatter } = Astro.props;
---

<PrimaryLayout
  title="Tentang Dika pembuat web site ini - sakitkepala.dev"
  description="Tentang Dika pembuat web site ini"
>
  <div class="content-layout">
    <main class="article-content">
      <h1>{frontmatter.title}</h1>
      <slot />
    </main>
  </div>
</PrimaryLayout>

<style>
  .content-layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--content-container-width)) minmax(0, 1fr);
    margin-top: 30vh;
    margin-bottom: 10rem;
  }

  .content-layout > *:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }
</style>
